doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.scss")
    title Consert Poster
  body
    .poster 
        div.top-left 
        div.top-top 
        div.top-right 
        div.top-bottom
            span thrusday, friday, saturday
            span april 20, 21, 22, 1978
        div.center-left
        div.center-top
        div.center-right
        div.center-center 
            h1 the
            h1 voidoids
        div.center-bottom
        div.bottom-left
        div.bottom-top
            div.bottom-top__up
                span with the erasers and the ghosts
            div.bottom-top__down
                div at cbgb and omfug
                div 315 bowery at bleecker
                div new york, new york
        div.bottom-right
        div.bottom-bottom


