@import "./reset.scss";

$bg: #dde1d3;
$blue: #00a0c8;
$red: #d03022;
$burntRed: #573533;
$appWidth: 40%;
$appHeight: 100%;

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  font-weight: bold;
  width: $appWidth;
  height: $appHeight;
  min-width: 440px;
  max-width: 600px;
  min-height: 800px;
  max-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 12fr 1fr 10fr 1fr 12fr 1fr;
  background-color: $bg;
  padding: 20px;
  box-sizing: border-box;
  .top-left,
  .top-right,
  .top-top,
  .center-bottom {
    background-color: $blue;
  }
  .center-top,
  .bottom-left,
  .bottom-right,
  .bottom-bottom {
    background-color: $red;
  }
  .center-left,
  .center-right {
    background-color: $burntRed;
  }
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    grid-row: span 2;
  }
  .center-left,
  .center-right {
    grid-row: span 3;
  }
  h1 {
    font-size: 78px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    font-weight: 600;
  }
  .bottom-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
